
<h5 id="url">{{id}}</h5>
<paint></paint>
<script>
    $(function(){
        var url = window.location.href
        var arr = url.split("/");
        var host = arr[0] + "//" + arr[2]
        $('#url').html(host+"/{{id}}")
    })
</script>